.RewardsList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;

}

.filterBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2vw;
    color:  #EBE1B7;
    font-weight: bold;
    font-size: 2vw;

}

select {
    margin: 1vw;
    font-family: sans-serif;
    margin: 3vw;
    background-color: lightgray;
    outline: none;
    border: none;
    width: 5vw;

}