.Reward {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 45%;
    padding: 2vw;
    margin: 1vw;
    background-color: #EBE1B7;
    border-radius: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

