.Reward {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding: 2vw;
    color: #EBE1B7;
    font-weight: bold;
    font-family: sans-serif;

}

